
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<br />
<form method="post">
    <div class="container">
        <h1> Outbox </h1>
        <label>Mail Adresiniz</label>
        <input type="email" class="form-control" required="" name="EmployeeMail" />
        <br />
        <label>Password:</label>
        <input type="password" required="" class="form-control" name="EmployeePassword" />
        <br />
        <input type="checkbox" /> Beni Hatırla
        <br /><br />
        <button class="btn btn-success">Giriş Yap</button>
        <br /><br />
       
    </div>
</form>
