
@{
    ViewBag.Title = "ProfileGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Profil Bilgileri</h2>
<br />
Hoşgeldiniz @ViewBag.v1 @ViewBag.v2
<br />
Mail Adresiniz:@ViewBag.v3
<br />
Şifreniz: @ViewBag.v4
<br />
ID Bilginiz: @ViewBag.v5